.nav {
    padding: 20px;
    grid-area: nav;
    background-color: darkgray;
}

.item {
    font-size: 26px;
}

.itemWithPadding {
    padding: 30px 0;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.active {
    color: gold;
}