.users {
    padding: 10px;
}

.users h2 {
    text-align: center;
    font-size: 32px;
}

.usersDisplay {
    padding: 20px 50px;
    text-align: right;
}

.usersDisplay button {
    width: calc(100% / 20);
    min-width: fit-content;
    height: 25px;
    background-color: lightseagreen;
    font-size: 16px;
}

.items {
    padding: 10px;
    text-align: center;
}

.showMore {
    text-align: center;
}

.showMore button {
    width: calc(100% / 4);
    min-width: fit-content;
    height: 50px;
    background-color: lightseagreen;
    font-size: 20px;
}

.selected {
    font-weight: bold;
}

.hideShowMoreButton {
    display: none;
}

.pages {
    text-align: center;
    padding: 10px;
}

.page {
    padding: 10px;
}