.header {
    padding: 5px;
    grid-area: header;
    background-color: green;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
    padding: 10px;
}

.loginBlock a {
    color: white;
}

.loginElement a {
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
}